<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>NSM System Controller</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrapValidator.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>

<div class="container col-lg-8">
    <div style="padding-bottom: 0.5cm; padding-top: 0.2cm">
        <div class="card" style="background-color: #fefefe">
            {% include 'base/navbar.html' %}
            <div class="settings-page">
                <div class="container page">
                    <div style="margin: 10px; text-align:right">
                        <form method="get" action="/apply" style="display: inline">
                            <button type="submit" class="btn btn-primary btn-sm " id="apply_top"
                                    style="max-width: 120px;min-width: 80px; background-color: #ffffff; color: #005cbf">
                                Apply
                            </button>
                        </form>
                        <div class="file btn btn-primary btn-sm " id="import_top"
                             style="max-width: 120px;min-width: 80px; background-color: #ffffff ; color: #005cbf; overflow:
                        hidden;position: relative;">
                            Import<input type="file" name="file" id="import_config"
                                         style="position: absolute; font-size: 50px; opacity: 0; right: 0;top: 0;"/>
                        </div>
                        <form method="get" action="/download" style="display: inline">
                            <button type="submit" class="btn btn-primary btn-sm "
                                    id="export_top"
                                    style="max-width: 120px;min-width: 80px;background-color: #ffffff; color: #005cbf">
                                Export
                            </button>
                        </form>
                    </div>

                    <table class="table table-bordered" style="background-color: #fffffe ">
                        <tbody>
                        {%for config in ui_config %}
                        <tr>
                            <td style="text-align: center;width: 20%; "><strong>{{ config.label }}</strong></td>
                            <td style="text-align: left;width: 80%">
                                {% set group_config = nsm_config[config.id]%}
                                <form id={{config.id}}
                                      action="/nsm/{{config.id}}"
                                      enctype="multipart/form-data"
                                      method="post">
                                    <div class="row " style="vertical-align:center;">
                                        {% for item in config.list %}
                                        <div class="col-sm-4 text-right"
                                             style="margin-top: 5px;vertical-align: center ">
                                            <label for={{item.id}}>{{item.label}}:</label>
                                        </div>

                                        <div class="col-sm-8 " style="margin-top: 5px">
                                            {% if item.type == "input" %}
                                            <div class="form-group"
                                                 style="max-width: 50%;min-width: 25%">
                                                {% if item.id == "output" %}
                                                <input type="number" class=" form-control" aria-label={{item.label}}
                                                       name={{ config.id ~ '_' ~ item.id }} id={{ config.id ~ '_' ~ item.id }}
                                                aria-describedby={{item.id}}
                                                placeholder={{item.placeholder}} value = {{ group_config[item.id]}}>
                                                {% else %}
                                                <input type="text" class="form-control" aria-label={{item.label}}
                                                       name={{ config.id ~ '_' ~ item.id }}
                                                id={{ config.id ~ '_' ~ item.id }}
                                                aria-describedby={{item.id}}
                                                placeholder={{item.placeholder}} value = {{ group_config[item.id]
                                                }}>
                                                 {% endif %}
                                            </div>
                                            {% elif item.type == "dropdown"%}
                                            <div>
                                                <select name={{ config.id ~ '_' ~ item.id }} id={{ config.id ~ '_' ~
                                                item.id }} >
                                                {% for pullitem in item.list %}
                                                {% if pullitem == group_config[item.id] %}
                                                <option value={{pullitem}} selected>{{pullitem}}</option>
                                                {% else %}
                                                <option value={{pullitem}}>{{pullitem}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                </select>
                                            </div>
                                            {% elif item.type == "checkbox" %}
                                            <div>
                                                <select name={{ config.id ~ '_' ~ item.id }} id={{ config.id ~ '_' ~
                                                item.id }} >
                                                {% for pullitem in item.list %}
                                                {% if pullitem == group_config[item.id] %}
                                                <option value={{pullitem}} selected>{{pullitem}}</option>
                                                {% else %}
                                                <option value={{pullitem}}>{{pullitem}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                </select>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor%}

                                        <div class="left col-sm-4 text-right" style="margin-top: 5px"></div>
                                        <div class="left col-sm-8" style="margin-top: 5px">
                                            <button type="submit" class="btn btn-primary btn-sm"
                                                    id={{config.id ~
                                            "_" ~ "button"}}
                                            style="max-width: 120px; min-width: 80px; " >Save</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer" style="padding: 0.5cm">
        <div class="item" id="api_output" style="margin: auto; color: rgb(82, 187, 33)"></div>
    </div>
</div>
</body>

<script type="text/javascript">

    $(function () {
        $('form').bootstrapValidator({

            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                network_ip: {
                    validators: {
                        notEmpty: {
                            message: 'ip不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/,
                            message: '不是有效的ip'
                        }
                    }
                },
                network_gateway: {
                    validators: {
                        notEmpty: {
                            message: 'gateway不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/,
                            message: '不是有效的gateway'
                        }
                    }
                },
                network_netmask: {
                    validators: {
                        notEmpty: {
                            message: 'gateway不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/,
                            message: '不是有效的netmask'
                        }
                    }
                },
                network_dns: {
                    validators: {
                        notEmpty: {
                            message: 'gateway不能为空'
                        },
                        regexp: {
                            regexp: /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/,
                            message: '不是有效的dns'
                        }
                    }
                },
                db37beamsteer_address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        },
                        regexp: {
                            regexp: /^0[x|X][0-9A-Za-z]{1,4}$/,
                            message: '不是有效的地址,请用16进制表示'
                        }
                    }
                },
                db25_1_address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        },
                        regexp: {
                            regexp: /^0[x|X][0-9A-Za-z]{1,2}$/,
                            message: '不是有效的地址,请用16进制表示'
                        }
                    }
                },
                db25_2_address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        },
                        regexp: {
                            regexp: /^0[x|X][0-9A-Za-z]{1,2}$/,
                            message: '不是有效的地址,请用16进制表示'
                        }
                    }
                },
                db25_3_address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        },
                        regexp: {
                            regexp: /^0[x|X][0-9A-Za-z]{1,2}$/,
                            message: '不是有效的地址,请用16进制表示'
                        }
                    }
                },
                db25_4_address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        },
                        regexp: {
                            regexp: /^0[x|X][0-9A-Za-z]{1,2}$/,
                            message: '不是有效的地址,请用16进制表示'
                        }
                    }
                },

                db37beamsteer_output: {
                    validators: {
                        between: {
                            message : '输入范围1-16777215整数',
                            min : 1,
                            max : 16777215
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                db25_1_output: {
                    validators: {
                        between: {
                            message : '输入范围1-65535整数',
                            min : 1,
                            max : 65535
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                db25_2_output: {
                    validators: {
                        between: {
                            message : '输入范围1-65535整数',
                            min : 1,
                            max : 65535
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                db25_3_output: {
                    validators: {
                        between: {
                            message : '输入范围1-65535整数',
                            min : 1,
                            max : 65535
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                db25_4_output: {
                    validators: {
                        between: {
                            message : '输入范围1-65535整数',
                            min : 1,
                            max : 65535
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                recr_pluse_width: {
                    validators: {
                        between: {
                            message : '输入范围1-1000整数',
                            min : 1,
                            max : 1000
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                lo_pluse_width: {
                    validators: {
                        between: {
                            message : '输入范围1-1000整数',
                            min : 1,
                            max : 1000
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },
                src_output: {
                    validators: {
                        between: {
                            message : '输入范围1-1000整数',
                            min : 1,
                            max : 1000
                        },
                        notEmpty: {
                            message: '输出值不能为空'
                        },
                    }
                },



            }
        });
    });

    function getConfig() {
        var api_output = $('#api_output');
        $.ajax({
            url: '/getconfig',
            type: "GET",
            dataType: "application/json",
            processData: false,
            contentType: false
        }).done(function (data) {
            if (data) {
                console.log(data)
                api_output.html(data);
            }
        }).fail(function () {
            api_output.html('Failed to get nsm config!');
        });
    }

    function upload(element) {
        const filename = $(element).val();
        var fd = new FormData();
        var files = $(element)[0].files[0];
        fd.append("file", files);
        fd.append("name", filename);

        $.ajax({
            url: '/upload',
            type: "POST",
            data: fd,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
        }).done(function (data) {
            if (data.message) {
                api_output.html("<font color='#c84'>" + data.message + "</font>");
            }

            window.location.reload();

        }).fail(function () {

            api_output.html("<font color='#c84'>Upload failed</font>");
        })

    }

    $(function () {
        var $input = $("#import_config");

        $input.change(function () {
            if ($(this).val() != "") {
                upload(this);
            }
        })
    })

    $(document).ready(function () {
    });


</script>

</html>